<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ siteName }}{% endblock %}</title>

  {# Swiper CSS #}
  <link rel="stylesheet" href="css/swiper-bundle.min.css">
  {# Основные стили (Bootstrap 3 + кастомные компоненты) #}
  <link rel="stylesheet" href="css/main.css">

  {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

  {# Контейнер для AJAX-уведомлений OpenCart (корзина / сравнение / избранное) #}
  <div id="alert"></div>

  {% include 'partials/header.twig' %}

  <main class="main-content">
    {% block content %}{% endblock %}
  </main>

  {% include 'partials/footer.twig' %}

  {# jQuery + Bootstrap JS + Swiper + кастомный JS #}
  <script src="js/bundle.js"></script>

  {% block scripts %}{% endblock %}
</body>
</html>
