<footer class="site-footer">

  {# ── Callback section ── #}
  <div class="footer-callback">
    <div class="container">
      <div class="footer-callback__row">

        <div class="footer-callback__logo">
        <svg width="230" height="55" viewBox="0 0 230 55" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_228_11)">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M230.005 27.312C229.866 29.756 226.649 37.714 225.233 39.865C221.174 46.03 211.342 45.892 204.78 45.951L201.716 54.168C198.305 54.686 194.849 54.769 191.402 54.71C192.678 51.171 193.798 47.56 194.909 43.943L206.679 42.432C207.507 42.503 208.891 42.239 209.768 42.036L209.96 42.011L209.957 41.991C210.189 41.934 210.372 41.886 210.477 41.855C214.529 40.669 216.868 35.452 217.872 31.652C218.111 30.747 218.919 28.72 217.799 28.17L210.73 28.059L208.185 35.519H197.56C198.126 33.812 198.714 32.115 199.344 30.438C200.17 28.236 201.15 24.338 203.742 24.049C203.742 24.049 223.679 23.714 225.048 23.761C227.603 23.85 230.186 24.145 230.005 27.312ZM137.802 28.308C137.225 28.376 136.818 28.445 136.402 28.895C134.906 30.514 133.638 35.903 132.851 38.239C132.456 39.808 132.348 40.615 134.051 40.808C135.912 41.019 137.788 40.925 139.664 40.713C138.167 42.674 136.892 44.345 135.941 45.591C131.007 46.28 125.363 46.199 122.842 44.983C119.407 43.326 121.42 38.881 122.333 36.114C123.762 31.781 125.603 25.209 130.5 24.128C133.453 23.476 136.496 23.597 139.251 23.621C143.94 23.663 148.142 23.728 152.581 23.784C151.427 25.297 150.266 26.819 149.117 28.325C145.5 28.598 141.3 27.9 137.802 28.308ZM111.979 45.913H93.955L102.044 24.056H110.418L107.408 33.404L107.721 33.991H116.236C116.49 33.991 117.966 34.595 118.233 34.832C120.583 36.912 118.194 42.456 116.193 44.166C115.448 44.803 112.882 45.913 111.979 45.913ZM105.902 37.708C105.836 39.057 104.877 40.454 104.583 41.647C104.265 42.934 107.324 42.587 108.257 42.475C110.204 42.241 111.496 41.344 111.569 39.229C111.662 36.569 107.554 37.759 105.902 37.708ZM79.48 45.628L84.87 29.165L73.377 45.628H65.572L81.325 24.056H97.361L89.981 45.628H79.48ZM32.08 54.993L34.065 51.446C40.493 50.869 48.346 50.039 52.798 44.917C51.057 44.939 49.285 45.761 47.544 45.908C38.588 46.662 39.832 42.763 42.009 36.399C43.082 33.26 44.956 27.689 46.411 24.905C46.573 24.595 46.685 24.275 46.981 24.056H56.489C56.55 24.555 56.471 24.996 56.351 25.479C55.267 29.824 51.444 35.897 50.873 39.881C50.564 42.039 52.391 41.595 53.745 40.756C55.878 39.435 60.108 31.4 61.647 28.788C62.542 27.27 63.468 25.682 64.153 24.056H74.655C70.289 30.452 66.846 38.237 62.16 44.346C55.312 53.274 42.629 54.854 32.08 54.993ZM46.693 15.253L34.492 45.913H23.848C27.046 36.299 30.247 26.591 34.773 17.524L46.693 15.253ZM0.00799561 21.217C1.148 18.564 2.484 15.858 3.931 13.363C4.369 12.609 5.009 11.164 5.831 11.005C8.087 10.568 12.614 10.729 15.203 10.664C15.951 10.645 19.05 10.717 19.86 10.701C34.941 10.41 47.651 10.945 62.732 10.718L24.647 16.481L0.00799561 21.217ZM23.42 19.222L23.846 19.37L13.914 45.628H1.142C4.279 37.613 6.843 29.337 10.578 21.573L23.42 19.222Z" fill="#010722" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M183.123 42.886L176.689 54.049L172.695 37.081L169.367 42.662H156.932L152.947 48.021H138.302C138.302 48.021 141.511 43.817 145.97 37.974H150.728H160.419C162.578 37.974 164.711 37.974 166.352 37.974L175.579 24.579L178.464 41.993L180.683 38.421H181.535H190.953H211.747L183.123 42.886ZM178.02 14.31L162.744 34.849H148.355C158.128 22.042 171.651 4.31502 172.695 2.92402C174.342 0.728023 174.818 0.0210234 178.464 0.0210234C178.464 0.0210234 179.773 0.0210234 181.348 0.0210234C182.924 0.0210234 185.445 -0.539977 186.008 3.81702C186.344 6.41902 188.638 22.364 190.535 35.519H181.112C179.579 25.009 178.02 14.31 178.02 14.31ZM191.163 44.56L188.297 54.495H183.88C183.73 53.465 183.485 51.787 183.177 49.683L185.564 45.342L191.163 44.56Z" fill="#46A6FF" />
  </g>
  <defs>
    <clipPath id="clip0_228_11">
      <rect width="230" height="55" fill="white" />
    </clipPath>
  </defs>
</svg>
        </div>

        <div class="footer-callback__text">
          Есть вопросы? Оставьте свой номер телефона, и мы перезвоним
        </div>

        <div class="footer-callback__form">
          <input type="tel" class="footer-callback__input" placeholder="Телефон">
          <button type="button" class="footer-callback__btn">Перезвоните мне</button>
        </div>

      </div>
    </div>
  </div>

  {# ── Nav columns ── #}
  <div class="footer-nav">
    <div class="container">
      <div class="row">

        {# Каталог #}
        <div class="col-sm-6 col-md-3">
          <h4 class="footer-nav__title">Каталог</h4>
          <ul class="footer-nav__list">
            <li><a href="#">Акции</a></li>
            <li><a href="#">Новинки</a></li>
            <li><a href="#">Спортивное метание ножа</a></li>
            <li><a href="#">Мечевой бой</a></li>
            <li><a href="#">Бокс</a></li>
          </ul>
        </div>

        {# Магазин #}
        <div class="col-sm-6 col-md-3">
          <h4 class="footer-nav__title">Магазин</h4>
          <ul class="footer-nav__list">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Условия доставки</a></li>
            <li><a href="#">Условия гарантии и возврата</a></li>
            <li><a href="#">Условия приема платежей</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>

        {# Информация #}
        <div class="col-sm-6 col-md-3">
          <h4 class="footer-nav__title">Информация</h4>
          <ul class="footer-nav__list">
            <li><a href="#">Реквизиты</a></li>
            <li><a href="#">Политика обработки персональных данных</a></li>
            <li><a href="#">Согласие на обработку персональных данных</a></li>
          </ul>
        </div>

        {# Контакты компании #}
        <div class="col-sm-6 col-md-3">
          <h4 class="footer-nav__title">ООО "Пульсар"</h4>
          <div class="footer-contacts">

            <div class="footer-contact-item">
              <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M14.288 21.8C13.297 23.189 11.699 24.009 9.1 24.001C8.301 24.009 6.702 23.189 5.712 21.8C1.922 16.544 0 12.591 0 10.053C0 4.50002 4.478 -0.000976562 10.001 -0.000976562C15.523 2.34375e-05 19.1 4.50102 20 10.053C20 12.591 18.078 16.544 14.288 21.8ZM9.1 2.18202C5.677 2.18702 2.174 5.70902 2.169 10.055C2.169 12.066 4.052 15.783 7.469 20.521C8.484 21.927 10.44 22.239 11.838 21.219C12.104 21.024 12.338 20.789 12.531 20.521C15.949 15.783 17.831 12.066 17.831 10.055C17.826 5.70902 14.323 2.18702 9.1 2.18202ZM9.1 14C7.803 14 6.022 12.21 6.022 10C6.022 7.79102 7.803 6.00002 9.1 6.00002C12.197 6.00002 13.978 7.79102 13.978 10C13.978 12.21 12.197 14 9.1 14ZM9.1 8.00102C8.901 8.00102 8.011 8.89602 8.011 10C8.011 11.105 8.901 12 9.1 12C11.099 12 11.989 11.105 11.989 10C11.989 8.89602 11.099 8.00102 9.1 8.00102Z" fill="#3C444E" />
</svg>
              <div>
                <strong class="footer-contact-item__address-title">Санкт-Петербург, ул Длинное название 4</strong>
                <span class="footer-contact-item__address-sub">ежедневно с 10:00 до 24:00</span>
              </div>
            </div>

            <div class="footer-contact-item">
             <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7326 0.906368C11.7326 0.406368 12.1376 0.00136828 12.6376 0.00136828C17.6346 0.00736828 21.6836 4.05637 21.6896 9.05337C21.6896 9.55337 21.2836 9.95837 20.7836 9.95837C20.2846 9.95837 19.8786 9.55337 19.8786 9.05337C19.8746 5.05537 16.6346 1.81637 12.6376 1.81137C12.1376 1.81137 11.7326 1.40637 11.7326 0.906368ZM12.6376 5.43237C14.6366 5.43237 16.2586 7.05337 16.2586 9.05337C16.2586 9.55337 16.6636 9.95837 17.1636 9.95837C17.6636 9.95837 18.0686 9.55337 18.0686 9.05337C18.0656 6.05537 15.6356 3.62537 12.6376 3.62237C12.1376 3.62237 11.7326 4.02737 11.7326 4.52737C11.7326 5.02737 12.1376 5.43237 12.6376 5.43237ZM20.8686 15.1534C21.9606 16.2484 21.9606 18.0214 20.8686 19.1164L20.0446 20.0654C12.6306 27.1634 -5.40942 9.12737 1.57858 1.69037L2.61958 0.785368C3.71558 -0.275632 5.46058 -0.259632 6.53658 0.821368C6.56458 0.849368 8.24158 3.02837 8.24158 3.02837C9.27558 4.11437 9.27258 5.82137 8.23558 6.90437L7.18758 8.22237C8.35858 11.0694 10.6166 13.3314 13.4606 14.5084L14.7876 13.4544C15.8696 12.4174 17.5766 12.4154 18.6626 13.4494C18.6626 13.4494 20.8406 15.1254 20.8686 15.1534ZM19.6226 16.4694C19.6226 16.4694 17.4566 14.8034 17.4286 14.7754C17.0406 14.3904 16.4146 14.3904 16.0266 14.7754C16.0016 14.8004 14.1766 16.2544 14.1766 16.2544C13.9256 16.4544 13.5886 16.5064 13.2896 16.3924C9.59858 15.0184 6.68558 12.1094 5.30558 8.41937C5.18258 8.11637 5.23258 7.77037 5.43658 7.51437C5.43658 7.51437 6.89158 5.68737 6.91558 5.66437C7.30058 5.27537 7.30058 4.65037 6.91558 4.26237C6.88758 4.23537 5.22158 2.06737 5.22158 2.06737C4.82858 1.71437 4.22858 1.73037 3.85458 2.10237L2.81358 3.00737C-2.29342 9.14837 13.3396 23.9144 18.7216 18.8294L19.5456 17.8784C19.9476 17.5074 19.9816 16.8834 19.6226 16.4694Z" fill="#3C444E" />
</svg>
              <a href="tel:88127777777">8 812 777-77-77</a>
            </div>

            <div class="footer-contact-item">
              <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.418 0H4.584C2.053 0.003 0.003 1.935 0 4.319V14.686C0.003 17.071 2.053 19.003 4.584 19.006H17.418C19.948 19.003 21.999 17.071 22.002 14.686V4.319C21.999 1.935 19.948 0.003 17.418 0ZM4.584 1.728H17.418C18.541 1.73 19.55 2.375 19.967 3.358L12.946 9.975C11.871 10.984 10.131 10.984 9.056 9.975L2.035 3.358C2.452 2.375 3.461 1.73 4.584 1.728ZM17.418 17.278H4.584C3.065 17.278 1.833 16.118 1.833 14.686V5.615L7.759 11.196C9.551 12.88 12.451 12.88 14.243 11.196L20.168 5.615V14.686C20.168 16.118 18.937 17.278 17.418 17.278Z" fill="#3C444E" />
</svg>
              <a href="mailto:info@pulsar.ru">info@pulsar.ru</a>
            </div>

            <div class="footer-socials">
              {# Одноклассники #}
              <a href="#" class="footer-social footer-social--max" aria-label="Одноклассники">
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0H29.315C35.943 0 41.316 5.372 41.316 12V29.315C41.316 35.943 35.943 41.315 29.315 41.315H12C5.373 41.315 0 35.943 0 29.315V12C0 5.372 5.373 0 12 0Z" fill="#3C444E" />
  <path fill-rule="evenodd" clip-rule="evenodd" d="M21.01 14.697C18.115 14.545 15.856 16.553 15.358 19.697C14.945 22.301 15.677 25.474 16.303 25.634C16.568 25.701 17.206 25.213 17.671 24.775C17.758 24.692 17.89 24.678 17.993 24.741C18.717 25.184 19.537 25.517 20.441 25.564C23.413 25.72 26.046 23.394 26.202 20.421C26.358 17.45 23.982 14.852 21.01 14.697ZM16.162 29.791C16.05 29.711 15.896 29.733 15.802 29.833C14.547 31.172 11.333 32.112 11.186 30.284C11.186 28.852 10.865 27.645 10.511 26.316C10.077 24.689 9.59399 22.879 9.59399 20.248C9.59399 13.975 14.739 9.25696 20.839 9.25696C26.939 9.25696 31.721 14.205 31.721 20.309C31.721 26.413 26.786 31.24 20.897 31.24C18.807 31.24 17.793 30.945 16.162 29.791Z" fill="white" />
</svg>
              </a>
              {# Telegram #}
              <a href="#" class="footer-social footer-social--tg" aria-label="Telegram">
               <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0H29.315C35.943 0 41.315 5.372 41.315 12V29.315C41.315 35.943 35.943 41.315 29.315 41.315H12C5.373 41.315 0 35.943 0 29.315V12C0 5.372 5.373 0 12 0Z" fill="#3C444E" />
  <path fill-rule="evenodd" clip-rule="evenodd" d="M21.721 28.225C13.598 28.225 8.964 22.545 8.771 13.094H12.84C12.974 20.031 15.974 22.969 18.35 23.575V13.094H22.182V19.076C24.528 18.819 26.994 16.093 27.825 13.094H31.657C31.018 16.79 28.345 19.516 26.444 20.637C28.345 21.546 31.39 23.924 32.548 28.225H28.33C27.424 25.347 25.167 23.121 22.182 22.818V28.225H21.721Z" fill="white" />
</svg>
              </a>
              {# VK #}
              <a href="#" class="footer-social footer-social--vk" aria-label="ВКонтакте">
               <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0H29.315C35.942 0 41.315 5.372 41.315 12V29.315C41.315 35.943 35.942 41.315 29.315 41.315H12C5.372 41.315 0 35.943 0 29.315V12C0 5.372 5.372 0 12 0Z" fill="#3C444E" />
  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.82 11.031L8.68698 18.518C7.38098 19.05 7.38898 19.789 8.44698 20.118L13.36 21.672L24.725 14.397C25.263 14.065 25.754 14.244 25.35 14.607L16.142 23.039H16.139L16.142 23.041L15.803 28.178C16.299 28.178 16.518 27.947 16.797 27.674L19.183 25.321L24.146 29.04C25.06 29.551 25.718 29.288 25.946 28.18L29.204 12.602C29.537 11.245 28.694 10.631 27.82 11.031Z" fill="white" />
</svg>
              </a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  {# ── Bottom bar ── #}
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__inner">
        <p class="footer-bottom__copy">Все права защищены. {{ year }} © {{ siteName }}</p>
        <div class="footer-bottom__payments">
        <svg width="63" height="17" viewBox="0 0 63 17" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M61.978 7.07665L50.854 7.07065C47.5 7.07065 44.32 3.71365 43.966 0.00264602H55.972C60.562 0.00264602 62.68 3.89365 61.978 7.07665ZM36.377 6.90265H36.023L32.315 15.2086C31.607 16.7996 29.843 16.9736 29.843 16.9736H24.545V0.00264602H30.197V10.0736H30.725L34.433 1.76765C35.141 0.176646 36.731 0.00264602 36.731 0.00264602H42.029V16.9736H36.377V6.90265ZM16.595 6.90265H16.241L13.241 16.9736H9.005L6.006 6.90265H5.478V16.9736H0V0.00264602H5.826C6.353 0.00264602 7.943 -0.171354 8.652 2.30265C9.179 3.89365 9.887 6.36865 10.95 10.0796H11.303C12.359 6.18765 13.241 3.53965 13.595 2.30265C14.303 -0.171354 16.067 0.00264602 16.775 0.00264602H22.247V16.9736H16.595V6.90265ZM55.618 11.8446H49.618V16.9736H44.32V8.13365H61.624C60.916 10.2536 58.444 11.8446 55.618 11.8446Z" fill="#3C444E" />
</svg>
        <svg width="68" height="35" viewBox="0 0 68 35" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M63.859 14.415H60.385V21.671H56.771V11.347H67.474V21.671H63.859V14.415ZM50.375 12.276C53.015 12.286 54.953 14.536 54.993 16.837C55.044 19.834 52.634 21.974 49.22 21.974C45.987 21.974 43.256 20.006 43.256 15.213C43.256 11.146 45.846 7.785 49.672 7.724C51.349 7.724 54.993 7.714 54.993 7.714L53.307 10.772C53.307 10.772 50.435 10.772 50.053 10.772C48.407 10.772 46.931 11.892 46.72 13.598C47.603 12.77 48.969 12.276 50.375 12.276ZM49.17 19.219C50.415 19.219 51.389 18.281 51.389 17.069C51.389 15.879 50.475 14.88 49.24 14.88C48.015 14.88 47.051 15.889 47.071 17.09C47.071 18.361 48.196 19.219 49.17 19.219ZM37.643 18.926C39.26 18.956 40.475 18.139 40.475 18.139L41.84 20.622C40.716 21.52 39.26 21.994 37.834 21.974C34.601 21.954 31.91 19.481 31.91 16.484C31.91 13.921 34.33 11.045 37.854 11.045C39.48 11.055 40.625 11.509 41.82 12.366L40.475 14.809C40.475 14.809 39.23 13.971 37.653 14.022C36.639 14.022 35.294 14.88 35.273 16.474C35.273 18.038 36.629 18.926 37.643 18.926ZM16.825 27.015L21.269 24.444L16.825 21.871V27.015ZM12.698 34.189V19.49V19.481L0 26.835V7.354L12.698 14.702V14.699V0L29.523 9.745L16.834 17.094L29.523 24.444L12.698 34.189ZM4.127 14.519V19.661L8.569 17.091L4.127 14.519ZM21.269 9.745L16.825 7.173V12.316L21.269 9.745Z" fill="#3C444E" />
</svg>
<svg width="75" height="28" viewBox="0 0 75 28" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M69.684 23.142C68.552 26.195 67.395 26.881 65.697 26.881C64.9 26.881 64.025 26.652 63.639 26.322V23.549C64.025 23.93 64.616 24.185 65.183 24.185C66.109 24.185 66.803 23.574 67.292 21.844L61.864 9.073H65.234L68.758 17.799L71.639 9.073H74.829L69.684 23.142ZM57.544 19.504C56.926 20.979 55.357 21.997 53.299 21.997C50.701 21.997 49.158 20.547 49.158 18.054C49.158 15.153 51.293 14.339 54.457 14.339H57.363V13.779C57.363 11.973 56.489 11.413 54.765 11.413C52.399 11.413 51.036 12.329 50.161 13.678V9.963C51.01 9.327 52.553 8.819 54.765 8.819C58.521 8.819 60.373 10.091 60.373 13.398V21.793H57.544V19.504ZM57.363 16.273H54.817C53.042 16.273 52.193 16.603 52.193 17.748C52.193 18.715 52.913 19.325 54.251 19.325C56.283 19.325 57.235 18.181 57.363 17.316V16.273ZM40.362 16.247H37.583V21.793H34.368V3.985H40.362C46.046 3.985 48.464 5.995 48.464 10.014C48.464 14.161 45.635 16.247 40.362 16.247ZM40.645 6.91H37.583V13.321H40.593C43.577 13.321 45.12 12.355 45.12 9.938C45.12 7.75 43.783 6.91 40.645 6.91ZM13.757 27.213C6.159 27.213 0 21.121 0 13.607C0 6.092 6.159 0 13.757 0C17.03 0 20.035 1.132 22.396 3.019L19.721 4.97C18.022 3.819 15.968 3.144 13.757 3.144C7.923 3.144 3.178 7.837 3.178 13.607C3.178 19.376 7.923 24.07 13.757 24.07C19.59 24.07 24.336 19.376 24.336 13.607C24.336 13.513 24.334 13.42 24.332 13.327L27.293 11.169C27.438 11.96 27.513 12.774 27.513 13.607C27.513 21.121 21.355 27.213 13.757 27.213ZM8.52 13.882V9.976L13.757 13.223L24.642 5.288C25.293 6.119 25.848 7.025 26.291 7.992L13.757 17.13L8.52 13.882Z" fill="#3C444E" />
</svg>
        </div>
      </div>
    </div>
  </div>

</footer>
