<header class="site-header">

  {# ── Top utility bar ── #}
  <div class="header-top">
    <div class="container">
      <div class="header-top__inner">

        {# Contacts #}
        <div class="header-top__contacts">
          <div class="header-top__contact">
          <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2911 19.758C18.4191 19.758 17.5741 19.445 16.9101 18.879C16.2381 18.305 15.7821 17.493 15.6271 16.594L15.5901 16.375L9.62313 16.374L9.59413 16.605C9.47513 17.528 9.04313 18.304 8.31013 18.913C7.62813 19.457 6.78813 19.756 5.94313 19.756C5.35313 19.756 4.78613 19.617 4.25913 19.341C2.97713 18.669 2.19013 17.323 2.25513 15.91C2.26913 15.605 2.32713 15.32 2.38713 15.017C2.41013 14.903 2.43413 14.785 2.45513 14.665L2.46413 14.614L2.28913 13.764C1.99413 12.332 2.77213 10.798 3.39813 9.565L3.42913 9.503C3.58613 9.193 3.88213 9.015 4.24213 9.015L9.95313 9.021C10.4481 9.021 10.7151 9.461 10.7161 9.874C10.7161 10.128 10.6301 10.355 10.4721 10.513C10.3261 10.66 10.1281 10.738 9.90113 10.738L4.75313 10.741L4.32313 11.589C4.20113 11.831 4.12913 12.094 4.09413 12.42L4.04813 12.862L4.45813 12.691C4.93013 12.495 5.42313 12.396 5.92413 12.396C7.34613 12.396 8.63013 13.202 9.27513 14.5L9.34813 14.646L16.0881 14.65L16.1611 14.503C16.8051 13.203 18.0881 12.395 19.5091 12.395C20.0011 12.395 20.4831 12.493 20.9431 12.688C21.6851 13.001 22.2891 13.563 22.7901 14.407L22.9051 14.601L23.1141 14.518C23.8131 14.24 24.5941 13.617 24.6911 12.704C24.7501 12.144 24.7401 11.59 24.7301 11.055C24.7231 10.675 24.7161 10.281 24.7341 9.892L24.7381 9.811L24.2791 9.066L24.2041 9.033C23.8661 8.883 23.5321 8.739 23.1751 8.62C21.7221 8.136 21.0061 7.688 20.5971 6.31L20.2251 5.051L19.6681 3.269C19.3671 2.304 18.3921 1.727 17.0591 1.727L0.808132 1.723C0.584132 1.723 0.389132 1.645 0.244132 1.497C0.083132 1.334 -0.00386795 1.103 0.000132049 0.847C0.00613205 0.439 0.259132 0 0.803132 0L16.9551 0.004C17.5071 0.004 18.0961 0.03 18.6631 0.217C19.9851 0.654 20.9841 1.752 21.4041 3.23C21.4661 3.451 21.5271 3.668 21.5871 3.883C21.7851 4.596 21.9721 5.27 22.2181 5.985C22.2661 6.125 22.3741 6.275 22.5091 6.456C22.5371 6.494 22.5621 6.528 22.5821 6.556L22.6151 6.604L22.6661 6.633C23.0251 6.841 23.4131 6.997 23.7881 7.147C24.3151 7.358 24.8131 7.557 25.2171 7.885C25.6821 8.261 26.0251 8.736 26.1821 9.221C26.3461 9.73 26.3441 10.266 26.3421 10.834V10.986C26.3421 11.118 26.3431 11.25 26.3431 11.381C26.3481 11.999 26.3521 12.582 26.2451 13.172C26.0031 14.505 24.7931 16.034 23.1881 16.284L22.9901 16.315L22.9671 16.514C22.8741 17.296 22.5481 18.009 22.0241 18.577C21.5011 19.143 20.8181 19.525 20.0491 19.681C19.7981 19.732 19.5431 19.758 19.2911 19.758ZM19.3881 14.129C18.3381 14.141 17.4761 15.005 17.4661 16.056C17.4611 16.567 17.6681 17.073 18.0341 17.443C18.4021 17.815 18.8881 18.02 19.4041 18.02C19.4291 18.02 19.4541 18.019 19.4801 18.018C20.5041 17.078 21.3251 17.143 21.3481 16.117C21.3601 15.594 21.1621 15.097 20.7911 14.717C20.4201 14.337 19.9291 14.129 19.4101 14.129H19.3881ZM5.90113 14.129C4.85113 14.141 3.98913 15.005 3.97913 16.056C3.97413 16.567 4.18113 17.073 4.54713 17.443C4.91513 17.815 5.40113 18.02 5.91713 18.02C5.94213 18.02 5.96813 18.019 5.99313 18.018C7.01713 17.078 7.83813 17.143 7.86113 16.117C7.87313 15.594 7.67513 15.097 7.30413 14.717C6.93313 14.337 6.44313 14.129 5.92313 14.129H5.90113ZM3.01313 6.225C2.52113 6.225 2.25713 5.802 2.25013 5.384C2.24613 5.129 2.33513 4.89 2.49413 4.727C2.63313 4.587 2.81713 4.512 3.02513 4.512L8.79013 4.509C9.01313 4.509 9.20713 4.587 9.35213 4.734C9.51113 4.896 9.59613 5.127 9.59213 5.385C9.58413 5.802 9.31813 6.225 8.82413 6.225H3.01313Z" fill="#B1BFCC" />
</svg>
            Доставка по всей России
          </div>
          <div class="header-top__contact">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7326 0.906368C11.7326 0.406368 12.1376 0.00136828 12.6376 0.00136828C17.6346 0.00736828 21.6836 4.05637 21.6896 9.05337C21.6896 9.55337 21.2836 9.95837 20.7836 9.95837C20.2846 9.95837 19.8786 9.55337 19.8786 9.05337C19.8746 5.05537 16.6346 1.81637 12.6376 1.81137C12.1376 1.81137 11.7326 1.40637 11.7326 0.906368ZM12.6376 5.43237C14.6366 5.43237 16.2586 7.05337 16.2586 9.05337C16.2586 9.55337 16.6636 9.95837 17.1636 9.95837C17.6636 9.95837 18.0686 9.55337 18.0686 9.05337C18.0656 6.05537 15.6356 3.62537 12.6376 3.62237C12.1376 3.62237 11.7326 4.02737 11.7326 4.52737C11.7326 5.02737 12.1376 5.43237 12.6376 5.43237ZM20.8686 15.1534C21.9606 16.2484 21.9606 18.0214 20.8686 19.1164L20.0446 20.0654C12.6306 27.1634 -5.40942 9.12737 1.57858 1.69037L2.61958 0.785368C3.71558 -0.275632 5.46058 -0.259632 6.53658 0.821368C6.56458 0.849368 8.24158 3.02837 8.24158 3.02837C9.27558 4.11437 9.27258 5.82137 8.23558 6.90437L7.18758 8.22237C8.35858 11.0694 10.6166 13.3314 13.4606 14.5084L14.7876 13.4544C15.8696 12.4174 17.5766 12.4154 18.6626 13.4494C18.6626 13.4494 20.8406 15.1254 20.8686 15.1534ZM19.6226 16.4694C19.6226 16.4694 17.4566 14.8034 17.4286 14.7754C17.0406 14.3904 16.4146 14.3904 16.0266 14.7754C16.0016 14.8004 14.1766 16.2544 14.1766 16.2544C13.9256 16.4544 13.5886 16.5064 13.2896 16.3924C9.59858 15.0184 6.68558 12.1094 5.30558 8.41937C5.18258 8.11637 5.23258 7.77037 5.43658 7.51437C5.43658 7.51437 6.89158 5.68737 6.91558 5.66437C7.30058 5.27537 7.30058 4.65037 6.91558 4.26237C6.88758 4.23537 5.22158 2.06737 5.22158 2.06737C4.82858 1.71437 4.22858 1.73037 3.85458 2.10237L2.81358 3.00737C-2.29342 9.14837 13.3396 23.9144 18.7216 18.8294L19.5456 17.8784C19.9476 17.5074 19.9816 16.8834 19.6226 16.4694Z" fill="#B1BFCC" />
</svg>
            8 800 777-77-77
            <svg class="svg-icon header-top__contact-caret" width="12" height="12" viewBox="0 0 16 16" fill="currentColor">
              <path d="M4.293 6.293a1 1 0 0 1 1.414 0L8 8.586l2.293-2.293a1 1 0 1 1 1.414 1.414l-3 3a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 0-1.414z"/>
            </svg>
          </div>
          <div class="header-top__contact">
            <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.418 0H4.584C2.053 0.003 0.003 1.935 0 4.319V14.686C0.003 17.071 2.053 19.003 4.584 19.006H17.418C19.948 19.003 21.999 17.071 22.002 14.686V4.319C21.999 1.935 19.948 0.003 17.418 0ZM4.584 1.728H17.418C18.541 1.73 19.55 2.375 19.967 3.358L12.946 9.975C11.871 10.984 10.131 10.984 9.056 9.975L2.035 3.358C2.452 2.375 3.461 1.73 4.584 1.728ZM17.418 17.278H4.584C3.065 17.278 1.833 16.118 1.833 14.686V5.615L7.759 11.196C9.551 12.88 12.451 12.88 14.243 11.196L20.168 5.615V14.686C20.168 16.118 18.937 17.278 17.418 17.278Z" fill="#B1BFCC" />
</svg>
            info@pulsar.ru
            <svg class="svg-icon header-top__contact-caret" width="12" height="12" viewBox="0 0 16 16" fill="currentColor">
              <path d="M4.293 6.293a1 1 0 0 1 1.414 0L8 8.586l2.293-2.293a1 1 0 1 1 1.414 1.414l-3 3a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 0-1.414z"/>
            </svg>
          </div>
        </div>

        {# Top nav #}
        <nav class="header-top__nav">
          <a href="#">О нас</a>
          <a href="#">Акции</a>
          <a href="#">Новинки</a>
          <a href="#">
            Доставка и оплата
            <svg class="svg-icon" width="12" height="12" viewBox="0 0 16 16" fill="currentColor">
              <path d="M4.293 6.293a1 1 0 0 1 1.414 0L8 8.586l2.293-2.293a1 1 0 1 1 1.414 1.414l-3 3a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 0-1.414z"/>
            </svg>
          </a>
          <a href="#">Контакты</a>
        </nav>

      </div>
    </div>
  </div>

  {# ── Main header ── #}
  <div class="header-main">
    <div class="container">
      <div class="header-main__inner">

        {# Burger (mobile only) #}
        <button type="button" class="header-burger" id="headerBurger" aria-label="Меню" aria-expanded="false">
          <span></span><span></span><span></span>
        </button>

        {# Logo #}
        <a href="/" class="header-logo">
         <svg width="230" height="55" viewBox="0 0 230 55" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_228_11)">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M230.005 27.312C229.866 29.756 226.649 37.714 225.233 39.865C221.174 46.03 211.342 45.892 204.78 45.951L201.716 54.168C198.305 54.686 194.849 54.769 191.402 54.71C192.678 51.171 193.798 47.56 194.909 43.943L206.679 42.432C207.507 42.503 208.891 42.239 209.768 42.036L209.96 42.011L209.957 41.991C210.189 41.934 210.372 41.886 210.477 41.855C214.529 40.669 216.868 35.452 217.872 31.652C218.111 30.747 218.919 28.72 217.799 28.17L210.73 28.059L208.185 35.519H197.56C198.126 33.812 198.714 32.115 199.344 30.438C200.17 28.236 201.15 24.338 203.742 24.049C203.742 24.049 223.679 23.714 225.048 23.761C227.603 23.85 230.186 24.145 230.005 27.312ZM137.802 28.308C137.225 28.376 136.818 28.445 136.402 28.895C134.906 30.514 133.638 35.903 132.851 38.239C132.456 39.808 132.348 40.615 134.051 40.808C135.912 41.019 137.788 40.925 139.664 40.713C138.167 42.674 136.892 44.345 135.941 45.591C131.007 46.28 125.363 46.199 122.842 44.983C119.407 43.326 121.42 38.881 122.333 36.114C123.762 31.781 125.603 25.209 130.5 24.128C133.453 23.476 136.496 23.597 139.251 23.621C143.94 23.663 148.142 23.728 152.581 23.784C151.427 25.297 150.266 26.819 149.117 28.325C145.5 28.598 141.3 27.9 137.802 28.308ZM111.979 45.913H93.955L102.044 24.056H110.418L107.408 33.404L107.721 33.991H116.236C116.49 33.991 117.966 34.595 118.233 34.832C120.583 36.912 118.194 42.456 116.193 44.166C115.448 44.803 112.882 45.913 111.979 45.913ZM105.902 37.708C105.836 39.057 104.877 40.454 104.583 41.647C104.265 42.934 107.324 42.587 108.257 42.475C110.204 42.241 111.496 41.344 111.569 39.229C111.662 36.569 107.554 37.759 105.902 37.708ZM79.48 45.628L84.87 29.165L73.377 45.628H65.572L81.325 24.056H97.361L89.981 45.628H79.48ZM32.08 54.993L34.065 51.446C40.493 50.869 48.346 50.039 52.798 44.917C51.057 44.939 49.285 45.761 47.544 45.908C38.588 46.662 39.832 42.763 42.009 36.399C43.082 33.26 44.956 27.689 46.411 24.905C46.573 24.595 46.685 24.275 46.981 24.056H56.489C56.55 24.555 56.471 24.996 56.351 25.479C55.267 29.824 51.444 35.897 50.873 39.881C50.564 42.039 52.391 41.595 53.745 40.756C55.878 39.435 60.108 31.4 61.647 28.788C62.542 27.27 63.468 25.682 64.153 24.056H74.655C70.289 30.452 66.846 38.237 62.16 44.346C55.312 53.274 42.629 54.854 32.08 54.993ZM46.693 15.253L34.492 45.913H23.848C27.046 36.299 30.247 26.591 34.773 17.524L46.693 15.253ZM0.00799561 21.217C1.148 18.564 2.484 15.858 3.931 13.363C4.369 12.609 5.009 11.164 5.831 11.005C8.087 10.568 12.614 10.729 15.203 10.664C15.951 10.645 19.05 10.717 19.86 10.701C34.941 10.41 47.651 10.945 62.732 10.718L24.647 16.481L0.00799561 21.217ZM23.42 19.222L23.846 19.37L13.914 45.628H1.142C4.279 37.613 6.843 29.337 10.578 21.573L23.42 19.222Z" fill="#010722" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M183.123 42.886L176.689 54.049L172.695 37.081L169.367 42.662H156.932L152.947 48.021H138.302C138.302 48.021 141.511 43.817 145.97 37.974H150.728H160.419C162.578 37.974 164.711 37.974 166.352 37.974L175.579 24.579L178.464 41.993L180.683 38.421H181.535H190.953H211.747L183.123 42.886ZM178.02 14.31L162.744 34.849H148.355C158.128 22.042 171.651 4.31502 172.695 2.92402C174.342 0.728023 174.818 0.0210234 178.464 0.0210234C178.464 0.0210234 179.773 0.0210234 181.348 0.0210234C182.924 0.0210234 185.445 -0.539977 186.008 3.81702C186.344 6.41902 188.638 22.364 190.535 35.519H181.112C179.579 25.009 178.02 14.31 178.02 14.31ZM191.163 44.56L188.297 54.495H183.88C183.73 53.465 183.485 51.787 183.177 49.683L185.564 45.342L191.163 44.56Z" fill="#46A6FF" />
  </g>
  <defs>
    <clipPath id="clip0_228_11">
      <rect width="230" height="55" fill="white" />
    </clipPath>
  </defs>
</svg>
        </a>

        {# Catalog button #}
        <a href="catalog.html" class="catalog-btn">
          <svg class="svg-icon" width="18" height="18" viewBox="0 0 24 24" fill="currentColor">
            <rect x="3" y="3" width="8" height="8" rx="1.5"/><rect x="13" y="3" width="8" height="8" rx="1.5"/><rect x="3" y="13" width="8" height="8" rx="1.5"/><rect x="13" y="13" width="8" height="8" rx="1.5"/>
          </svg>
          <span>Каталог</span>
        </a>

        {# Search #}
        <div class="header-search">
          <input type="search" class="header-search__input" placeholder="Нож для спортивного метания...">
          <button type="button" class="header-search__btn" aria-label="Поиск">
            <svg class="svg-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round">
              <circle cx="11" cy="11" r="8"/><path d="m21 21-4.35-4.35"/>
            </svg>
          </button>
        </div>

        {# Mobile search icon (mobile only) #}
        <button type="button" class="header-search-mobile" aria-label="Поиск">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round">
            <circle cx="11" cy="11" r="8"/><path d="m21 21-4.35-4.35"/>
          </svg>
        </button>

        {# Actions (rendered/updated by shop.js based on auth state) #}
        <div class="header-actions" id="headerActions">
          <a href="#" class="header-action" id="openLoginModal">
            <svg width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9642 23.452C20.0502 24.308 18.9422 24.815 17.7762 25.204C15.5862 25.936 13.3232 26.195 10.9342 26.22C8.48616 26.182 5.98916 25.887 3.60116 24.953C2.56316 24.547 1.59016 24.026 0.826162 23.18C0.270162 22.564 -0.0208382 21.848 0.00116184 21.004C0.0781618 18.05 1.12916 15.508 3.17816 13.388C3.61016 12.94 4.21516 12.909 4.63016 13.3C5.05916 13.705 5.06616 14.323 4.61716 14.784C3.23916 16.204 2.39616 17.889 2.10216 19.85C2.05116 20.191 2.05016 20.54 2.00716 20.883C1.94616 21.374 2.16316 21.736 2.50716 22.044C3.11016 22.585 3.82916 22.917 4.57816 23.189C6.44216 23.868 8.38016 24.138 10.3502 24.188C12.7752 24.249 15.1712 24.035 17.4672 23.184C18.0872 22.954 18.6762 22.623 19.2482 22.283C19.8772 21.908 20.1162 21.341 20.0462 20.577C19.8402 18.338 19.0102 16.401 17.4392 14.795C17.1922 14.542 17.0322 14.259 17.0732 13.898C17.1192 13.487 17.3402 13.193 17.7272 13.051C18.1302 12.902 18.4892 13.001 18.7902 13.301C19.9902 14.494 20.8712 15.89 21.4322 17.49C21.8172 18.588 22.0032 19.72 22.0552 20.881C22.1022 21.923 21.7062 22.759 20.9642 23.452ZM11.0292 14.115C7.12716 14.104 3.99916 10.932 4.01116 7.00201C4.02416 3.14301 7.18716 -0.00698836 11.0422 1.16441e-05C14.9512 0.00801164 18.0512 3.17701 18.0432 7.15801C18.0362 10.96 14.8432 14.127 11.0292 14.115ZM10.9952 2.01701C8.26716 2.02101 6.01316 4.29701 6.01616 7.04301C6.01916 9.82701 8.25416 12.095 10.9972 12.097C13.7962 12.1 16.0402 9.84801 16.0382 7.04001C16.0372 4.26301 13.7782 2.01201 10.9952 2.01701Z" fill="#B1BFCC"/>
            </svg>
            <span>Войти</span>
          </a>
          <a href="#" class="header-action">
           <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M23.8003 25.845C22.6503 25.845 21.6413 24.992 21.4523 23.861C21.3483 23.232 21.5023 22.577 21.8763 22.063C22.2493 21.551 22.8073 21.215 23.4483 21.119C23.5713 21.101 23.6963 21.091 23.8183 21.091C25.0003 21.091 25.9833 21.948 26.1563 23.128C26.2493 23.758 26.0883 24.386 25.7033 24.896C25.3173 25.408 24.7533 25.737 24.1153 25.824C24.0113 25.838 23.9053 25.845 23.8003 25.845ZM10.9493 25.845C9.81628 25.845 8.81028 25.01 8.61128 23.903C8.49428 23.258 8.63528 22.612 9.00928 22.085C9.37528 21.569 9.93128 21.227 10.5733 21.123C10.7053 21.101 10.8393 21.091 10.9703 21.091C12.1433 21.091 13.1243 21.939 13.3043 23.108C13.5023 24.4 12.6073 25.616 11.3093 25.817C11.1903 25.836 11.0693 25.845 10.9493 25.845ZM11.0263 19.52C9.38728 19.52 7.98128 18.301 7.52428 16.485L5.45528 3.581L5.45228 3.57C5.27828 2.871 4.67428 2.363 4.01628 2.361L1.04628 2.352C0.472277 2.351 0.0122769 1.845 0.000276938 1.203C-0.00672306 0.859 0.119277 0.53 0.344277 0.3C0.534277 0.107 0.782277 0 1.04328 0L3.99128 0.005C5.58528 0.008 6.99828 1.204 7.43028 2.915L9.52028 15.882L9.52328 15.893C9.71328 16.654 10.3183 17.165 11.0283 17.165L23.5723 17.168C24.3463 17.158 24.9563 16.649 25.1313 15.872L27.1863 6.62L11.5703 6.616C11.0253 6.616 10.5883 6.14 10.5553 5.508C10.5363 5.163 10.6713 4.785 10.8993 4.545C11.0173 4.421 11.2183 4.273 11.5073 4.273L28.4753 4.267C28.8123 4.267 29.0853 4.4 29.2863 4.663C29.5173 4.966 29.6033 5.349 29.5213 5.712L27.1213 16.475C26.7183 18.266 25.2873 19.517 23.6423 19.517L11.0263 19.52Z" fill="#B1BFCC" />
</svg>
            <span>Корзина</span>
          </a>
        </div>

      </div>
    </div>
  </div>

</header>

{# ── Mobile drawer menu ── #}
<div class="mobile-menu-overlay" id="mobileMenuOverlay"></div>
<nav class="mobile-menu" id="mobileMenu" aria-label="Мобильное меню">
  <div class="mobile-menu__head">
    <a href="catalog.html" class="mobile-menu__catalog">
      <svg class="svg-icon" width="18" height="18" viewBox="0 0 24 24" fill="currentColor">
        <rect x="3" y="3" width="8" height="8" rx="1.5"/><rect x="13" y="3" width="8" height="8" rx="1.5"/><rect x="3" y="13" width="8" height="8" rx="1.5"/><rect x="13" y="13" width="8" height="8" rx="1.5"/>
      </svg>
      Каталог
    </a>
  </div>
  <ul class="mobile-menu__nav">
    <li><a href="#">О нас</a></li>
    <li><a href="#">Акции</a></li>
    <li><a href="#">Новинки</a></li>
    <li><a href="delivery.html">Доставка и оплата</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
  <div class="mobile-menu__contacts">
    <a href="tel:88007777777" class="mobile-menu__contact">8 800 777-77-77</a>
    <a href="mailto:info@pulsar.ru" class="mobile-menu__contact">info@pulsar.ru</a>
    <span class="mobile-menu__contact mobile-menu__contact--muted">Доставка по всей России</span>
  </div>
</nav>
