{#
  Params:
    title  – section heading string
    anchor – optional id for the section
#}
<section class="products-section"{% if anchor is defined %} id="{{ anchor }}"{% endif %}>
  <div class="container">
    <h2 class="products-section__title">{{ title }}</h2>

    <div class="products-section__grid">

      <div class="product-card" data-id="kizlyar">
        <a href="product.html?id=kizlyar" class="product-card__image-wrap">
          <img src="/images/catalog/карт1.png" alt="Ножи для метания СМН+ (Кизляр)" class="product-card__img">
          <span class="product-card__badge">-20 %</span> 
        </a>
        <div class="product-card__body">
          <div class="product-card__price-row">
            <span class="product-card__price">6 000 Р</span>
            <span class="product-card__price-old">7 500 Р</span>
          </div>
          <a href="#" class="product-card__name">Ножи для метания СМН+ (Кизляр)</a>
          <span class="product-card__article">Артикул: H8A7C9</span>
          <button type="button" class="product-card__btn product-card__btn--primary">
           <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7492 22.532C19.7472 22.532 18.8672 21.788 18.7032 20.802C18.6112 20.254 18.7462 19.683 19.0722 19.234C19.3972 18.788 19.8842 18.496 20.4432 18.412C20.5502 18.396 20.6592 18.387 20.7652 18.387C21.7962 18.387 22.6532 19.134 22.8042 20.163C22.8842 20.712 22.7442 21.259 22.4092 21.705C22.0722 22.151 21.5812 22.438 21.0242 22.514C20.9332 22.526 20.8412 22.532 20.7492 22.532ZM9.54623 22.532C8.55823 22.532 7.68123 21.804 7.50723 20.839C7.40523 20.276 7.52923 19.713 7.85423 19.254C8.17423 18.804 8.65823 18.506 9.21823 18.415C9.33323 18.396 9.45023 18.387 9.56423 18.387C10.5872 18.387 11.4422 19.126 11.5992 20.145C11.7722 21.272 10.9922 22.332 9.86023 22.508C9.75623 22.524 9.65023 22.532 9.54623 22.532ZM9.61323 17.017C8.18423 17.017 6.95923 15.955 6.56023 14.372L4.75623 3.122L4.75423 3.112C4.60223 2.503 4.07523 2.06 3.50223 2.058L0.912233 2.05C0.412233 2.049 0.0112333 1.609 0.00023328 1.048C-0.00576672 0.748 0.104233 0.461 0.300233 0.261C0.466233 0.093 0.682233 0 0.909233 0L3.47923 0.00400001C4.86923 0.00700001 6.10123 1.05 6.47823 2.541L8.30023 13.846L8.30223 13.855C8.46823 14.519 8.99523 14.965 9.61423 14.965L20.5502 14.967C21.2252 14.958 21.7582 14.514 21.9102 13.837L23.7022 5.771L10.0872 5.768C9.61223 5.768 9.23123 5.352 9.20223 4.802C9.18623 4.501 9.30423 4.171 9.50223 3.962C9.60523 3.854 9.78023 3.725 10.0322 3.725L24.8252 3.72C25.1192 3.72 25.3572 3.836 25.5322 4.065C25.7342 4.33 25.8092 4.663 25.7372 4.979L23.6452 14.363C23.2932 15.924 22.0462 17.015 20.6122 17.015L9.61323 17.017Z" fill="white" />
</svg>
            В корзину
          </button>
        </div>
      </div>

      <div class="product-card" data-id="multicam">
        <a href="product.html?id=multicam" class="product-card__image-wrap">
          <img src="/images/catalog/карт2.png" alt="Чехол МУЛЬТИКАМ" class="product-card__img">
        </a>
        <div class="product-card__body">
          <div class="product-card__price-row">
            <span class="product-card__price product-card__price--dark">900 Р</span>
          </div>
          <a href="#" class="product-card__name">Чехол «МУЛЬТИКАМ»</a>
          <span class="product-card__article">Артикул: OIB1UW</span>
          <div class="product-card__unavailable-row">
            <button type="button" class="product-card__btn product-card__btn--disabled" disabled>Нет в наличии</button>
            <button type="button" class="product-card__notify-btn" aria-label="Уведомить о наличии">
             <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8156 13.6591L19.8936 6.82508C18.4986 1.86608 13.3016 -1.03592 8.28555 0.343083C4.93255 1.26508 2.36556 3.93908 1.60956 7.29908L0.121555 13.9131C-0.484445 16.6071 1.23456 19.2781 3.96056 19.8771C4.32156 19.9561 4.68956 19.9961 5.05856 19.9961H6.18456C6.74056 22.7021 9.40955 24.4501 12.1466 23.9011C14.1366 23.5011 15.6926 21.9641 16.0966 19.9961H16.9436C19.7366 19.9971 22.0006 17.7581 22.0006 14.9981C22.0006 14.5451 21.9376 14.0951 21.8156 13.6591ZM11.1406 21.9961C9.85956 21.9911 8.71955 21.1901 8.29255 19.9961H13.9886C13.5616 21.1901 12.4216 21.9911 11.1406 21.9961ZM19.3586 16.8121C18.7876 17.5611 17.8916 18.0001 16.9426 17.9971H5.05856C3.38256 17.9961 2.02456 16.6531 2.02456 14.9971C2.02456 14.7781 2.04856 14.5601 2.09656 14.3461L3.58356 7.73108C4.47156 3.78508 8.42656 1.29708 12.4186 2.17508C15.0876 2.76208 17.2126 4.75508 17.9446 7.36008L19.8666 14.1941C20.1236 15.0971 19.9356 16.0671 19.3586 16.8121Z" fill="#46A6FF" />
</svg>
            </button>
          </div>
        </div>
      </div>

      <div class="product-card" data-id="saro">
        <a href="product.html?id=saro" class="product-card__image-wrap">
          <img src="/images/catalog/карт1.png" alt="Ножи для метания СМН+ (Саро)" class="product-card__img">
        </a>
        <div class="product-card__body">
          <div class="product-card__price-row">
            <span class="product-card__price product-card__price--dark">7 000 Р</span>
          </div>
          <a href="#" class="product-card__name">Ножи для метания СМН+ (Саро)</a>
          <span class="product-card__article">Артикул: JUZ9BJ</span>
          <button type="button" class="product-card__btn product-card__btn--primary">
         <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7492 22.532C19.7472 22.532 18.8672 21.788 18.7032 20.802C18.6112 20.254 18.7462 19.683 19.0722 19.234C19.3972 18.788 19.8842 18.496 20.4432 18.412C20.5502 18.396 20.6592 18.387 20.7652 18.387C21.7962 18.387 22.6532 19.134 22.8042 20.163C22.8842 20.712 22.7442 21.259 22.4092 21.705C22.0722 22.151 21.5812 22.438 21.0242 22.514C20.9332 22.526 20.8412 22.532 20.7492 22.532ZM9.54623 22.532C8.55823 22.532 7.68123 21.804 7.50723 20.839C7.40523 20.276 7.52923 19.713 7.85423 19.254C8.17423 18.804 8.65823 18.506 9.21823 18.415C9.33323 18.396 9.45023 18.387 9.56423 18.387C10.5872 18.387 11.4422 19.126 11.5992 20.145C11.7722 21.272 10.9922 22.332 9.86023 22.508C9.75623 22.524 9.65023 22.532 9.54623 22.532ZM9.61323 17.017C8.18423 17.017 6.95923 15.955 6.56023 14.372L4.75623 3.122L4.75423 3.112C4.60223 2.503 4.07523 2.06 3.50223 2.058L0.912233 2.05C0.412233 2.049 0.0112333 1.609 0.00023328 1.048C-0.00576672 0.748 0.104233 0.461 0.300233 0.261C0.466233 0.093 0.682233 0 0.909233 0L3.47923 0.00400001C4.86923 0.00700001 6.10123 1.05 6.47823 2.541L8.30023 13.846L8.30223 13.855C8.46823 14.519 8.99523 14.965 9.61423 14.965L20.5502 14.967C21.2252 14.958 21.7582 14.514 21.9102 13.837L23.7022 5.771L10.0872 5.768C9.61223 5.768 9.23123 5.352 9.20223 4.802C9.18623 4.501 9.30423 4.171 9.50223 3.962C9.60523 3.854 9.78023 3.725 10.0322 3.725L24.8252 3.72C25.1192 3.72 25.3572 3.836 25.5322 4.065C25.7342 4.33 25.8092 4.663 25.7372 4.979L23.6452 14.363C23.2932 15.924 22.0462 17.015 20.6122 17.015L9.61323 17.017Z" fill="white" />
</svg>
            В корзину
          </button>
        </div>
      </div>

      <div class="product-card" data-id="target">
        <a href="product.html?id=target" class="product-card__image-wrap">
          <img src="/images/catalog/карт3.png" alt="Мишень для метания М1" class="product-card__img">
          <span class="product-card__badge">-20 %</span>
        </a>
        <div class="product-card__body">
          <div class="product-card__price-row">
            <span class="product-card__price">5 000 Р</span>
            <span class="product-card__price-old">6 250 Р</span>
          </div>
          <a href="#" class="product-card__name">Мишень для метания М1 (36х32 ...</a>
          <span class="product-card__article">Артикул: I5Y91U</span>
          <button type="button" class="product-card__btn product-card__btn--primary">
         <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7492 22.532C19.7472 22.532 18.8672 21.788 18.7032 20.802C18.6112 20.254 18.7462 19.683 19.0722 19.234C19.3972 18.788 19.8842 18.496 20.4432 18.412C20.5502 18.396 20.6592 18.387 20.7652 18.387C21.7962 18.387 22.6532 19.134 22.8042 20.163C22.8842 20.712 22.7442 21.259 22.4092 21.705C22.0722 22.151 21.5812 22.438 21.0242 22.514C20.9332 22.526 20.8412 22.532 20.7492 22.532ZM9.54623 22.532C8.55823 22.532 7.68123 21.804 7.50723 20.839C7.40523 20.276 7.52923 19.713 7.85423 19.254C8.17423 18.804 8.65823 18.506 9.21823 18.415C9.33323 18.396 9.45023 18.387 9.56423 18.387C10.5872 18.387 11.4422 19.126 11.5992 20.145C11.7722 21.272 10.9922 22.332 9.86023 22.508C9.75623 22.524 9.65023 22.532 9.54623 22.532ZM9.61323 17.017C8.18423 17.017 6.95923 15.955 6.56023 14.372L4.75623 3.122L4.75423 3.112C4.60223 2.503 4.07523 2.06 3.50223 2.058L0.912233 2.05C0.412233 2.049 0.0112333 1.609 0.00023328 1.048C-0.00576672 0.748 0.104233 0.461 0.300233 0.261C0.466233 0.093 0.682233 0 0.909233 0L3.47923 0.00400001C4.86923 0.00700001 6.10123 1.05 6.47823 2.541L8.30023 13.846L8.30223 13.855C8.46823 14.519 8.99523 14.965 9.61423 14.965L20.5502 14.967C21.2252 14.958 21.7582 14.514 21.9102 13.837L23.7022 5.771L10.0872 5.768C9.61223 5.768 9.23123 5.352 9.20223 4.802C9.18623 4.501 9.30423 4.171 9.50223 3.962C9.60523 3.854 9.78023 3.725 10.0322 3.725L24.8252 3.72C25.1192 3.72 25.3572 3.836 25.5322 4.065C25.7342 4.33 25.8092 4.663 25.7372 4.979L23.6452 14.363C23.2932 15.924 22.0462 17.015 20.6122 17.015L9.61323 17.017Z" fill="white" />
</svg>
            В корзину
          </button>
        </div>
      </div>

    </div>

    <div class="products-section__dots">
      <span class="products-section__dot products-section__dot--active"></span>
      <span class="products-section__dot"></span>
      <span class="products-section__dot"></span>
      <span class="products-section__dot"></span>
    </div>
  </div>
</section>
